* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr;
  text-align: center;
  background-size: 100% 100%;
}

.formDiv {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv div {
  margin: 10px 0;
}

input {
  text-align: center;
}

#locationLabel {
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#getWeatherBtn,
#toggleTemp {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

#getWeatherBtn {
  margin-top: 8px;
  background-color: navy;
}

#toggleTemp {
  background-color: rgb(42, 42, 98);
  margin: 20px 0;
}

#results {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 10px;
  overflow: hidden;
}

#resultsContainer {
  margin-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.forecastGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  text-align: center;
  gap: 10px;
}

.dayDiv {
  background-color: rgba(132, 182, 248, 0.5);
  padding: 15px;
  margin: 10px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dayDiv div {
  margin-top: 20px;
  font-size: 1.2rem;
}

.weatherIntro {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  height: auto;
}

.icon {
  width: 150px;
  margin: 0 auto;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid navy;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 15px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* div {
  border: 2px solid purple;
} */

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  * {
    font-size: 1.1rem;
  }

  body,
  html {
    height: 100%;
    overflow: hidden;
  }

  .container {
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .formDiv {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: auto;
  }

  form {
    margin: 10px 0;
  }

  #results {
    margin: 0;
    overflow: scroll;
  }
  
  #resultsContainer {
    margin-top: 8px;
    gap: 10px;
    height: auto;
    gap: 10px;
    justify-content: space-between;
  }

  #getWeatherBtn,
  #toggleTemp {
    margin: 8px 0;
  }

  .weatherIntro {
    font-size: 1.1rem;
    overflow: hidden;
    padding: 5px;
  }

  .forecastGrid {
    flex-direction: column;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: stretch;
  }

  .dayDiv {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
  }

  .dayDiv div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
  }

  .icon {
    width: 70px;
    height: auto;
  }
}